*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #B5EB4A;
}


body{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    background: #151515;
}


header{
    
    max-height: 100vh;
    overflow: hidden;
    
   
}

header ul{
    list-style: none;
    display: flex;
    gap: 1em;
}



.hero{
    
   
    z-index: 1;
    overflow: hidden;
   
    
    
    
    
}

.hero video{
    
    object-fit: contain;
    width: 100%;
    height: 100%;
   
    
}

.header-content{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: rgba(21,21,21,0.5);
    max-height: 10vh;
    

}

.svg__nav{
    max-width: 25px;
    cursor: pointer;
    z-index: 1;
}

.navCloseBtn{
    cursor: pointer;
    max-width: 20px;
    max-height: 20px;
}
.nav__open{
    position: absolute;
    top: 0;
    right:-250px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-end;
    gap: 2.5rem;
    max-width: 350px;
    height: 100vh;
    background-color: rgba(21,21,21,1);
    padding: 2rem;
    transition: all 1s;
    border-radius: 10px;
    z-index: 50;
}

.nav__open ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}

.nav__open a{
    text-decoration: none;
}

.nav__open ul li:hover,
.svg__nav:hover,
.navCloseBtn:hover{
    transform: scale(1.3);
}

.show{
    
    right: 0px;
}


main{
    text-align: center;
}

main h1 {
    margin: 3rem 0;
    scroll-margin-top: 50px;
}

.svg{
    padding: 0;
    max-width: 80px;
    margin-bottom: 1em;
    
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section ul{
    list-style: none;
    
}

section p,
section ul li {
    line-height: 1.4rem;
}

.services__section{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.service__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    min-width: 250px;
    min-height: 180px;
    max-height: 200px;
    margin: 2em 0;
    
}

.pricelist__section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.package__container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50%;
    border: 1px solid #B5EB4A;
    border-radius: 15px;
    padding: 0.5rem;
}

.lookAtIt{
    
    background-color: #B5EB4A;
    padding: 0.7rem;
    border-radius: 15px;
    
}

.lookAtIt h3 ,
.lookAtIt p {
    font-weight: bold;
    color: #151515;
    
}

.section__adress{
    flex-direction: column;
    justify-content:space-between;
}

.mapouter{
    margin-top: 1rem;
}

#gmap_canvas{
    border-radius: 10px;
    border: 2px solid #B5EB4A;
}

footer{
    text-align: center;
    font-size: 0.7rem;
    padding: 0.5rem;
}


@media (min-width: 950px){
    
    .svg__nav{
        display: none;
    }
   
    .nav__open{
        position: static;
        background: rgba(1,1,1,0.0);
        width: auto;
        height: auto;
        transition: none ;
        
    }

    .nav__open ul{
        flex-direction: row;
    }
    .navCloseBtn{
        display: none;
    }
    main h1 {
    scroll-margin-top: 80px;
}
    
}





