*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #B5EB4A;
}


body{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    background: #151515;
}


header{
    
    max-height: 100vh;
    overflow: hidden;
    
   
}

header ul{
    list-style: none;
    display: flex;
    gap: 1em;
}



.hero{
    
   
    z-index: 1;
    overflow: hidden;
   
    
    
    
    
}

.hero video{
    
    object-fit: contain;
    width: 100%;
    height: 100%;
   
    
}

.header-content{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: rgba(21,21,21,0.5);
    

}

.svg__nav{
    max-width: 30px;
}


main{
    text-align: center;
}

main h1 {
    margin: 3rem 0;
}

.svg{
    padding: 0;
    max-width: 80px;
    margin-bottom: 1em;
    
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section ul{
    list-style: none;
    
}

.services__section{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.service__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    min-height: 180px;
    margin: 2em 0;
    
}

.section__adress{
    flex-direction: column;
    justify-content:space-between;
}

.mapouter{
    margin-top: 1rem;
}

footer{
    text-align: center;
    font-size: 0.7rem;
}








